<% layout("/layouts/boilerplate") %>
<script>
  const key ="<%= key %>";
  const Address = "<%= Add.location %>"
  const cartItem = <%- JSON.stringify(cartItem) %>;
</script>
<header class="sticky-top">
  <nav class="navbar navbar-expand bg-body-light border-bottom sticky">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="address" href="/">DIPTI MEDICAL</a>
        </div>
      </div>
    </div>
  </nav>
</header>
<%- include("../includes/flash.ejs")%>

<h3 style="width: 90%; margin: 1rem auto">Payments</h3>
<hr style="width: 90%; margin: auto" />
<div class="payPageDiv1"
>
  <div class="payPageDiv2"
  >
    <form id="payment-form1" class="phonepeDiv">
      <div style="display: flex; margin-left: 1rem">
        <img
          src="https://download.logo.wine/logo/PhonePe/PhonePe-Logo.wine.png"
          class="PhonePe-Logo"
        />
        <h5 id="h5Line">PhonePe</h5>
      </div>
      <button class="payBtn" id="phonepeBtn" type="submit">Pay Now</button>
    </form>
    <hr class="hrLine" />

    <form id="payment-form2" class="phonepeDiv">
      <input type="hidden" id="order_id" name="order_id" />
      <div style="display: flex; margin-left: 1rem">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/8/89/Razorpay_logo.svg"
          class="PhonePe-Logo"
        />
        <h5 id="h5Line">Razorpay</h5>
      </div>
      <button class="payBtn" id="pay-btn" type="submit">Pay Now</button>
    </form>

    <hr class="hrLine" />

    <form action="/payment/payLater" method="GET" class="phonepeDiv">
      <h5 style="margin-left: 1.5rem; font-weight: bold">Pay on Delivery</h5>
      <button class="payBtn" type="submit">Place Order</button>
    </form>
  </div>

  <div style="width: 40%; margin-top: -2rem">
    <h5>Sub Total</h5>
    <div class="subTotal"
    >
      <h5>Total Items: <%= cartItem.totalQty %></h5>
      <% if(cartItem.totalCost <299) {%>
      <h5 name="amount">
        Total amount: &#8377;<%= (cartItem.totalCost+50).toLocaleString("en-IN")
        %>
      </h5>
      <%} else { %>
      <h5 name="amount">
        Total amount: &#8377;<%= (cartItem.totalCost+0).toLocaleString("en-IN")
        %>
      </h5>

      <% }%>
    </div>
  </div>
</div>

<%- include("../includes/footer.ejs")%>

<script src="/JS/razorpay.js"></script>
