
  <% layout("/layouts/boilerplate") %>
<%- include("../includes/smNavBar.ejs")%>
<%- include("../includes/navbar.ejs")%>
<%- include("../includes/flash.ejs")%>

<div class="searchBox " >
<div class="form-outline mt-4" >
  <form action="/search" method="POST"  style="display: flex; margin-right: 2rem; align-items: center; width: 80%;">
    <input type="text" name="query" class="search-inp" placeholder="Search Medicines, Brand And More">
    <button type="submit" class="btn" style="background-color: #3fbfda; color: #fff; height: 3rem;">Search</button>
  </form>
  <form action="/search/close" method="POST"><button type="submit"><i class="fa-solid fa-xmark fa-xl" style="color:#000;"></i></button></form>
</div>
  
<%if(query){ %>
<div class="row row-cols-lg-5 row-cols-md-3 row-cols-sm-1" style="margin:auto; margin-top: 1.5rem;width: 90%;">
      <!--akta row te joto collum ache large screen e 3 e kore asbe-->
      <% for(let medicine of allmedicines){ %>
      <a href="/medicines/<%= medicine._id %>" class="medicine-link" >
        <div class="card col " style="width: 12rem;">
          <img src= "<%= medicine.image %>" class="card-img-top"
          alt="https://bsmedia.business-standard.com/_media/bs/img/article/2023-07/12/full/1689175810-294.jpg?im=FitAndFill=(826,465)"
          style="height: 18rem; border-radius: 0;" />
          <div class="card-body">
            <p class="card-text">
              <b><%= medicine.drugName %></b>
              <br />
              &#8377; <%= medicine.price.toLocaleString("en-IN") %><br>
              <form action="/cart/<%= medicine._id %>" method="get">
                    <input type="hidden" name="productId" value="<%= medicine._id %>">
                    <input type="hidden" name="quantity" value="1">
              <button class="btn" type="submit" style="background-color: #3fbfda; color: white;">Add</button>
                </form>
            </p>
          </div>
        </div>
      </a>
      <% } %>
    </div>
<% }%><%if(!query){ %>
<div class="row" style="margin: auto; margin-top: 1.5rem; width: 90%;">
  <div class="trending" >
    <h5>Trending Searches</h5>
    <a><button class="btn-trending" >Horlicks</button></a>
    <a><button class="btn-trending">Pediasure</button></a>
    <a><button class="btn-trending">Minimalist</button></a>
    <a><button class="btn-trending">Nivea</button></a>
    <a><button class="btn-trending">Ensure</button></a>
    
  </div>
  </div>
  <% }%>
  </div>
    

