<% layout("/layouts/boilerplate") %> <%- include("../includes/navbar.ejs")%> <%-
include("../includes/flash.ejs")%>

<div style=" margin: auto; margin-top: 0; width: 80%;">
  <div class="row row-cols-lg-6 row-cols-md-4 row-cols-sm-1" style=" margin: auto; margin-top: 1rem; width: 100%;">
    <a href="/medicines/new" class="btn btn-outline-success">
      Add new medicine
    </a>
  </div>

 <% let sum=0; let price=0; let totalitem = 0; let rupee=0 %>
 <% for(let order of orders) {%>
<% if(order.cart.totalCost < 299){ %> 
    <%  price = (order.cart.totalCost + 50) %>
<%}else{%>
    <%  price = (order.cart.totalCost ) %>
<%}%>
<% sum+=price; totalitem+= order.cart.totalQty%>
<%}%>
<div class="row row-cols-lg-6 row-cols-md-4 row-cols-sm-1" style=" margin: auto; margin-top: 1rem; width: 100%;  ">
<div class="adminIndiv">
  Total Users
  <h1 class="count"><%= usersCount %></h1>
</div>
<div class="adminIndiv">
 Total Doctors
  <h1 class="count"><%= doctorsCount %></h1>
</div>
<div class="adminIndiv">
  Total Orders
  <h1 class="count"><%= ordersCount %></h1>
</div>
<div class="adminIndiv">
  Total Medicines
  <h1 class="count"><%= medicinesCount %></h1>
</div>
<div class="adminIndiv">
  Total Appointments
  <h1 class="count"><%= appointmentCount %></h1>
</div>
<div class="adminIndiv">
  Total Purchase
  <h1 class="count">&#8377; <%= sum.toLocaleString("en-IN") %></h1>
</div>
</div>
<hr>
<div  style="display: flex; justify-content: space-between;">
<div style="width: 45%; margin: 1rem 0;">
  <h3>All Users</h3>
  <table id="customers" class="allcurstomer user" style="  border: 1px solid #ddd;">
    <tr>
        <th>Username</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Age</th>
      <th>Gender</th>
      </tr>
<% for(let eachUser of users) {%>
  <tr>
    <td><%=eachUser.username %></td>
    <td><%=eachUser.email %></td>
    <td><%=eachUser.mobile %></td>
    <td><%=eachUser.age %></td>
    <td><%=eachUser.gender %></td>
      </tr>
    <%}%>
     </table>

</div>

<div style="width: 45%; margin: 1rem 0;">
  <h3>All Doctors</h3>
  <table id="customers" class="allcurstomer doc" style="  border: 1px solid #ddd;">
    <tr>
        <th>Name</th>
      <th>Specialization</th>
      <th>Experience</th>
      <th>Fees</th>
      </tr>
<% for(let eachDoc of doctors) {%>
  <tr>
    <td><%=eachDoc.userId.username %></td>
    <td><%=eachDoc.specialization %></td>
    <td><%=eachDoc.experience %></td>
    <td>&#8377; <%=(eachDoc.fees).toLocaleString("en-IN")%></td>
      </tr>
    <%}%>
     </table>

     </div>
</div>
<hr>
  <h3>All Payments</h3>
<table id="customers" style="  border: 1px solid #ddd; margin-bottom: 2rem;">
    <tr>
        <th>Customer</th>
        <th>Items</th>
      <th>Price</th>
      <th>Payment Id</th>
      <th>Date</th>

      </tr>
 <% for(let order of orders) {%>
<!-- <div style=" margin:1rem 1rem;  padding-top: .4rem; display: flex; justify-content: space-evenly; border: 1px solid rgb(190, 189, 189); border-radius: 8px;"> -->
<tr>
    <td><%= (order.user.username) %> </td>
    <td><%= (order.cart.totalQty).toLocaleString("en-IN") %> </td>
<% if(order.cart.totalCost < 299){ %> 
    <% rupee = (order.cart.totalCost + 50) %>
<td> &#8377; <%= rupee.toLocaleString("en-IN") %>  </td>
 <%}else{%>
    <%  rupee = (order.cart.totalCost ) %>
<td> &#8377; <%= (rupee).toLocaleString("en-IN") %> </td>
 <%}%>
 <td> <%= order.paymentId %></p>   
    <td><%= order.createdAt.toString().split(" ").slice(0,4).join("-") %></td>
        <!-- < sum+=price; totalitem+= order.cart.totalQty%> -->

<!-- </div> -->



</tr>
    <%}%>
     </table>

<!-- <p><= orders%></p> -->
      <!-- <p><= appointment%></p> -->

</div>

<%- include("../includes/footer.ejs") %>
