<% layout("/layouts/boilerplate") %>
 
    <%- include("../includes/flash.ejs")%>
    <body>
<div style="width: 80%;display: flex; flex-direction: column; margin: auto; margin-top: 4rem; font-family: Open Sans">
    <form id="payment-form">
    <div style="border: 1px solid rgb(190, 189, 189); margin-bottom: 1rem;border-radius: 15px;">
    <div  style="margin:1rem;display: flex; justify-content: space-between;">
        <h3 ><i><%= cartItem.user.username %> </i></h3>
    <button class="btn btn-dark"><a href="/cart" style="text-decoration: none; color: #fff;">Return to Cart</a></button>
    </div>
    <p style="margin: 1rem;"><%= Add.location %> </p>
        </div>
    <div style="border: 1px solid rgb(190, 189, 189); border-radius: 15px; margin-bottom: 2rem;">
        <!-- <div class="Orders row row-cols-lg-4 row-cols-md-3 row-cols-sm-1"  style="margin-top: 1rem;" > -->
    <h3 style="margin: 1rem;  margin-left:2rem">Your order Subtotal</h3>
    <table id="payment"  style="width: 90%; ">
    <tr>
        <th>product name</th>
        <th>Image</th>
      <th>Quantity</th>
      <th>Price</th>
      </tr>        
    <% for(let item of items) {%>
        <tr>
            <td style="border-left:1px solid rgb(190, 189, 189); "><%= item.productId.drugName %></td>
            <td><img src= '<%= item.productId.image %>' style="height: 4rem; width: 6rem;"></td>
                <td> <%= item.qty %></td>
                <td style="border-right:1px solid rgb(190, 189, 189); "> &#8377;<%= item.price %></td>
                
        </tr>
             <% }%>
    </table>
    <!-- </div> -->
     <!-- <div style="display: flex; flex-direction: column; align-items: end; margin-right: 5rem;"> -->
        <table id="total"  >
    <tr >
    <th style="background-color: #fff;">Total Items: <%= cartItem.totalQty %></th>
        <% if(cartItem.totalCost <299) {%>
            <th style="background-color: #fff;"  name="amount">Total: &#8377;<%= (cartItem.totalCost+50).toLocaleString("en-IN") %></th>
            <%} else { %>
             <th style="background-color: #fff;" name="amount">Total: &#8377;<%= (cartItem.totalCost+0).toLocaleString("en-IN") %></th>
        
            <% }%>
          
    </tr>
      </table>
        
        <div id="totalSm">
        <h3 style="margin: 1rem;  margin-left:2rem">Total Items: <%= cartItem.totalQty %></h3>
        <% if(cartItem.totalCost <299) {%>
            <h3 style="margin: 1rem;  margin-left:2rem ;margin-bottom: 3rem;"  name="amount">Total: &#8377;<%= (cartItem.totalCost+50).toLocaleString("en-IN") %></h3>
            <%} else { %>
             <h3 style="margin: 1rem;  margin-left:2rem ;margin-bottom: 3rem;" name="amount">Total: &#8377;<%= (cartItem.totalCost+0).toLocaleString("en-IN") %></h3>
        
            <% }%>

        </div>

    <input type="hidden" id="order_id" name="order_id">
        <button class="btn btn-dark" id="pay-btn" type="submit" style="margin: 1rem 2rem; margin-top: -2rem;">Pay Now</button>
    </form>

    <form action="/cart/payLater" method="POST">
        <button class="btn btn-dark" id="pay-btn" type="submit" style="margin: 1rem 2rem; margin-top: -2rem;">Pay On Delivery</button>
    </form>
    

    <!-- <form action="/cart/create" method="get">
            < let amount = 0 %>
    < if(cartItem.totalCost <299) {%>
        < amount =  cartItem.totalCost +50 %>
            <h3 id="amount" name="amount">Total: &#8377;<= (cartItem.totalCost+50).toLocaleString("en-IN") %></h3>
            <} else { %>
        < amount =  cartItem.totalCost +50 %>
             <h3 id="amount" name="amount">Total: &#8377;<= (cartItem.totalCost+0).toLocaleString("en-IN") %></h3>
        
    < }%>
    <input type="hidden" name="name" value="200">
    <input type="hidden" name="callbackUrl" value="http://localhost:8080/cart/callback">
    <button class="btn btn-dark" type="submit">Pay Now</button>
  </form> -->

</div>
</div>

    <%- include("../includes/footer.ejs")%>
</body>

<script>
document.getElementById('pay-btn').addEventListener('click', async (e) => {
            e.preventDefault();
            let amount = 0;
            if('<%= cartItem.totalCost %>'<299){
             amount = '<%= cartItem.totalCost +50 %>'; // Amount in INR
            }else{
             amount = '<%= cartItem.totalCost %>'; // Amount in INR
            }
            // Create an order
            const response = await fetch('/cart/order', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ amount })
            });
            const order = await response.json();

            const options = {
                key: '<%= key %>',
                amount: order.amount,
                currency: order.currency,
                name: 'Dipti Medical',
                description: 'Test Transaction',
                order_id: order.id,
                // callback_url: '/myOrders',
                //  redirect: true,
                // order_id: '12356',
                handler: async function (response) {
                    const verifyResponse = await fetch('/cart/checkout', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({
                            razorpay_order_id: response.razorpay_order_id,
                            razorpay_payment_id: response.razorpay_payment_id,
                            razorpay_signature: response.razorpay_signature
                        })
                    });

                    const verifyResult = await verifyResponse.json();
                    // console.log(verifyResult.status);
                    if (verifyResult.status === 'success') {
                        // alert('Payment successful');
                        window.location.href = "/myOrders";
                    } else {
                        alert('Payment failed');
                        window.location.href = "/cart";
                    }
                   
                },
                prefill: {
                    name: '<%= cartItem.user.username %>',
                    email: '<%= cartItem.user.email %>',
                    contact: '<%= cartItem.user.mobile %>',
                    
                },
                notes: {
                    address: '<%= Add.location %> '
                },
                theme: {
                    color: '#3fbfda'
                }
            };

            const rzp1 = new Razorpay(options);
            rzp1.open();
        });
    </script>